* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.clock-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #0078A8;
}

.clock-svg {
	position: absolute;
	width: 800px;
	height: 800px;
	left: 50%;
	top: 50%;
	transform: translate(-400px,-400px);
}
